<nav class="navbar navbar-expand-lg navbar-dark fixed-top sisdi-navbar">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img
        src="/images/logo.png"
        alt="SISDI Logo"
        height="40"
        class="me-2"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/impact">Impact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/get-involved">Get Involved</a>
        </li>

        <li class="nav-item ms-lg-3">
          <a class="btn btn-donate btn-sm" href="/donate">
            Donate
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
