<section class="page-hero hero-<%= variant || 'default' %> <%= fadeClass || '' %>">
  <div class="container text-center text-white">
    <h1 class="page-title mb-3"><%= title %></h1>

    <% if (subtitle) { %>
      <p class="lead"><%= subtitle %></p>
    <% } %>
  </div>
</section>
